<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Laura Sammons | Web Developer | Seattle, WA</title>
    <meta name="description" content="The web development portfolio for Laura Sammons of Seattle, WA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet" type="text/css">
    <style>
        .is-collapsed {
        	display: none;
        }
    </style>
</head>
<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div>
        <header>
            <div class="avatar"></div>
            <h1>Laura Sammons</h1>
            <p>Web Developer | Seattle, WA</p>
        </header>
        <main>
            <div class="background">
                <h2>Background</h2>
                <p>I&apos;m an experienced web developer who loves working in web technology. I changed careers in 2008 to join the information technology world so that I could experience the coding world directly. Retraining into this career culminated in two certificates from Seattle Central College: a certificate in web development and a certificate in web design. I have been working professionally in the field since then and it&apos;s been amazing to see how quickly this profession has changed to reflect the ever evolving devices to which our content is delivered. I know this evolution will never slow and what a great and exciting time it is to be part of this development community!</p>
                <p>Prior to my career in Web Development, I had jobs that drew on similar types of strengths: focus, creativity, curiousity, determination. It&apos;s cool to bring all my life experience to the process of building fantastic websites and applications.</p>
                <p>I have recently undergone a period of dedicated self-study to level-up my development skills. I&apos;m an autodidactic life-long learner who&apos;ll always be interested in expanding my skills. Especially when it&apos;s cool new technologies bringing new capabilities and efficiencies.</p>
            </div>
            <div class="goals">
                <h2>Goals</h2><a class="view-more">Hide</a>
                <div class="goals-content">
                    <p>I want to apply my skills to the process of building awesome web apps and continue to increase my knowledge, skills and abilities in:</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Visual Design</li>
                        <li>UX/UI</li>
                        <li>Databases</li>
                        <li>PHP</li>
                        <li>Build Tools</li>
                    </ul>
                    <p>I'd like to work with a team of developers helping clients create impressive online presences. I am a team-oriented collaborator, dedicated to clear communication - both written and verbal - all in the service of delivering a great product, on time!</p>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li><a href="https://www.linkedin.com/in/laurasammons/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/laurasammons" target="_blank">Github</a></li>
            </ul>
            <p>&copy; 2017 | Laura Sammons</p>
        </footer>
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-6154280-15','auto');ga('send','pageview')
        </script>
    </div>
</body>
</html>
